* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: larger;
}
.element-container {
  display: flex;
  flex-direction: column;
  width: 420px;
  justify-content: center;
  align-items: left;
  row-gap: 25px;
  background-color: #150b3e;
  border-radius: 12px;
  padding: 25px;
}
.user-details-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}
.name-icon {
  border-radius: 65px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c3aed;
  background-color: #c7d2fe;
}
h1,
.withdraw {
  color: white;
  text-align: left;
}

p {
  color: #585076;
}
.balance {
  color: white;
  font-size: 45px;
}
.money-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.small-text {
  font-size: 13px;
  align-self: left;
  padding-top: 35px;
}
ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}